<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{path_prefix}/res/icon_160.png">
    <link rel="stylesheet" href="{path_prefix}/res/global.css">
    <link rel="stylesheet" href="{path_prefix}/pkg/maomi_introduction.css">
    <title>{title}</title>
  </head>
  <body>{body}</body>
  <script src="{path_prefix}/pkg/maomi_introduction.js"></script>
  <script>
    wasm_bindgen('{path_prefix}/pkg/maomi_introduction_bg.wasm').then(function() {{
      wasm_bindgen.html_init('{req_path}', '{data}')
    }})
  </script>
</html>
